.reset {
    margin-top: 10px;
    width: 320px;
   
}

.reset button {
    margin-top: 10px;
    color: white;
    border: none;
    background-color: #b435dd;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.titulo {

    width: 320px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 45px;
    position: absolute;
    top: 100px;
    
}
.titulo.genial {
   position: absolute;
    background-color: green;
    animation: genial infinite .3s ease-in-out;
}

@keyframes genial {
    0% { width: 320px; }
    50% {width: 380px;}
    100% {width:320px;}
}
.titulo.empate {
    background-color: yellow;
    animation: empate infinite .15s ease-in-out;
}
@keyframes empate {
    0% { width: 320px; }
    50% {width: 380px;}
    100% {width: 320px;}
}